.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14rem 2rem 5rem 2rem;
    font-family: "Roboto", sans-serif;
    gap: 4rem;
    width: 100%;
    background-color: #141630;
    height: fit-content;
    
}

.hero-container .first {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
        
}

.first-con {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2rem;
}



.first h2 {
    font-size: 75px;
    font-family: "Roboto", sans-serif;
    font-weight: 5000;
    font-style: normal;
    color: #8d8b8b;
    
}

.first h2 span {
    
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
    background: -webkit-linear-gradient(45deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #9400d3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.buttons button {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: rgb(156, 146, 146);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    color: #fff;
  }
  
  .buttons button:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  }
  
  .buttons button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
  .first .hero-img1 {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    background-color: #8d8b8b;
    border-radius: 20px;
  }

  .hero-img1 img {
    width: 800px;
    height: 90vh;
    padding: 1rem;
    border-radius: 40px;
    
  }
  
  .second img {
    width: 1700px;
    height: 900px;
}

@media screen and (max-width: 1440px) {
    .second img {
        width: 1430px;
    }
}

@media screen and (max-width: 1024px) {

    .first h2 {
        font-size: 50px;
        
    }

    .first h2 span {
        font-size: 50px;
    }

    .first-right {
        gap: 5px;
    }

    .first span {
        font-size: 25px;
    }


    .buttons button {
        font-size: 15px;
        padding: 15px;
    }

    .first .hero-img1 {
        width: 45%;
        
      }
    
      .hero-img1 img {
        width: 500px;
        height: 90vh;
        
        
      }

    .second img {
        width: 950px;
        height: 450px;
    }
}

@media screen and (max-width: 768px) {

    .first {
        width: 100%;
    }
    .first h2 {
        font-size: 35px; 
    }

    .first h2 span {
        font-size: 35px;
    }

    .first span {
        font-size: 15px;
        line-height: 20px;
        color: #8c8c92;
    }

    .buttons {
        gap: 10px;
    }
    
    .buttons button {
        font-size: 10px;
        padding: 15px;
    }

    .first .hero-img1 {
        width: 50%;
      }
    
      .hero-img1 img {
        width: 600px;
        height: 60vh;
        
      }

    .second img {
        width: 700px;
        height: 400px;
    }
}

@media screen and (max-width: 450px) {

    .first .hero-img1 {
        width: 100%;
      }
    
      .hero-img1 img {
        width: 700px;
        height: 60vh;
        padding: 10px;
       
        
      }

    .hero-container {
        gap: 1rem;
        padding-top: 150px;
    }

    .hero-container .first {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .first h2 {
        font-size: 35px; 
        width: 100%;
    }

   .first-con {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
   }


  .hero-img1 img {
    height: 85vh;
    
  }

    .buttons button {
        font-size: 10px;
        padding: 10px;
    }


}

@media screen and (max-width: 430px) {

    .first .hero-img1 {
        width: 100%;
      }
    
      .hero-img1 img {
        height: 40vh;
        padding: 10px;
       
        
      }
}

@media screen and (max-width: 425px) {
    .second img {
        width: 410px;
    }
}



@media screen and (max-width: 390px) {
    .second img {
        width: 380px;
    }
}

@media screen and (max-width: 375px) {
    .second img {
        width: 370px;
    }
}

@media screen and (max-width: 360px) {

    .hero-img1 img {
        width: 300px;
        height: 50vh;
        
      }

    .second img {
        width: 350px;
    }
}

@media screen and (max-width: 320px) {

    .hero-img1 img {
        height: 65vh;
        
      }

    .second img {
        width: 315px;
    }
}

@media screen and (max-width: 280px) {
    .second img {
        width: 280px;
    }
}

